/BooleanMatrixProblem$FastReader.class
/BooleanMatrixProblem.class
/ConversionToOne$FastReader.class
/ConversionToOne.class
/GetTheShadow$FastReader.class
/GetTheShadow.class
/KSum$FastReader.class
/KSum.class
/KthSmallestDifference$FastReader.class
/KthSmallestDifference.class
/NearestPerfectSquare$FastReader.class
/NearestPerfectSquare.class
/ToggleTheMiddle$FastReader.class
/ToggleTheMiddle.class
/WithoutAdjacent$FastReader.class
/WithoutAdjacent.class
/XORPair$FastReader.class
/XORPair.class
